@use 'variables' as variables;
h1,h2,h3{
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
    font-family:variables.$font-family;
    color: variables.$text;
    
}

p{
    margin-top: 0;
}
a,a:visited, a:active{
    text-decoration: none;
    &:hover {
        color:variables.$brand;
    }
    
}